html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:14px;
}
header {
    background-color: #455499;
    color:white;
    width:72%;
    height:25px;
    margin-bottom: 10px;
}
table {
    border-collapse: collapse;
}
th {
    font-weight:normal;
    text-align: left;
    background-color: #f6f7fa;
    padding:5px;
}
td {
    padding:5px;
}